extends home.pug


block content

  .card 
    h1.card-title.font-family.createnote Create News! 

  if error 
    p.error Some error occured! Try again!

  if success
    p.success News was successfully created!!! 
      
  

  form.form(action="/create" method='Post')
    h5.card-title.font-family Title 
    input.input(type="text" name='title')

    h5.card-title.font-family Description 
    textarea.input(name="description", type="text") 

    h5.card-title.font-family Upload image(Optional)
    input#myFileInput(type='file')

    button.btncreate  Create News



    