doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='icon' href='https://cdn3.iconfinder.com/data/icons/ballicons-reloaded-free/512/icon-70-512.png')
  link(rel='stylesheet' href='/static/style/style.css')
  title News Blog
nav.navbar.navbar-expand-lg.navbar.sticky-top.navbar-light.bg-success
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarTogglerDemo01.collapse.navbar-collapse
    a#underline.navbar-brand.text-white.font-family(href='/') The Main Page
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      li.nav-item.active
        
          span.sr-only (current)
    form.form-inline.my-2.my-lg-0.text-white
      a.navbar-brand.text-white.font-family(href='/create') +Create News
      a.navbar-brand.text-white.font-family(href='/news') All created news

      input.form-control.mr-sm-2.text-white.lead(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0.text-white.font-family(type='submit') Search







#carouselExampleIndicators.carousel.slide.mb-3(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
    li(data-target='#carouselExampleIndicators' data-slide-to='1')
    li(data-target='#carouselExampleIndicators' data-slide-to='2')
  .carousel-inner
    .carousel-item
      img.d-block.w-100(src='./static/images/paris-1836415.jpg' alt='Third slide')
    .carousel-item.active
      img.d-block.w-100(src='./static/images/qqq.jpeg' alt='First slide')
    .carousel-item
      img.d-block.w-100.trump(src='./static/images/skyline-4582510.jpg' alt='Third slide')
  a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next





main.container.container-main
    block content


main.container.container-main.mt-2
  .card-columns
    .card
      img.card-img-top(src='https://static.politico.com/dims4/default/379be32/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fd3%2Fb1%2F7acab9bd47da9d250ab9bfb97c23%2Fwebp.net-resizeimage%20-%202021-03-31T201625.374.jpg' alt='Card image cap')
      .card-body.less1000
        h5.card-title.font-family Tramps&grave; economic achievement
        p.card-text
          | President Joe Biden is using his infrastructure plan to take aim at President Donald Trump&apos;s signature economic achievement: his corporate tax cuts.
    .card
      img.card-img-top(src='https://static.politico.com/dims4/default/1b5efcc/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fe9%2F7a%2F6a61876e4cc290b80501adddb391%2Fgettyimages-951833242-2.jpg' alt='Card image cap')
      .card-body.less1000
        h5.card-title.font-family The North Korean leader has plans for the future
        p.card-text
          | SEOUL, South Korea &mdash; North Korea called South Korea&rsquo;s president &ldquo;a parrot raised by America&rdquo; on Tuesday, resuming its trademark derisive rhetoric against its rivals amid renewed animosities on the Korean Peninsula.
        p.card-text
          small.text-muted Last updated 3 mins ago

    .card
      img.card-img-top(src='https://static.politico.com/0b/28/8d965eab416b89991de2610fdc27/gettyimages-1229314653-1.jpg' alt='Card image cap')
      .card-body.less1000
        h5.card-title.font-family New infrastructure of the President Biden
        p.card-text Biden&rsquo;s infrastructure plan takes aim at Trump&rsquo;s biggest economic achievement
        p.card-text
          small.text-muted Last updated 9 mins ago
    // text only
    .card.bg-success.text-white.text-center.p-3
      blockquote.blockquote.mb-0.less1000
        p
          | The Government Accountability Office has issued a damning report about the implementation of legislation supporting Ivanka Trump&rsquo;s signature women&rsquo;s empowerment initiative, from her time as an adviser to her father, President Donald Trump.
        footer.blockquote-footer
          small
            | Someone famous in 
            cite(title='Source Title') Source Title
    // russia
    .card
      img.card-img(src='https://cdn.pixabay.com/photo/2016/08/03/22/37/moscow-city-1568042__480.jpg' alt='Card image')
    .card.p-3.text-right
      blockquote.blockquote.mb-0.less1000
        h5.card-title.font-family 12O Year service
        p
          | Landmark Imperial-Era Moscow Grocery Store to Close After 120 Years
          | The store will stop serving customers on April 11.
        footer.blockquote-footer
          small.text-muted
            | By Uliana Pavlova
            cite(title='Source Title') Updated: 18 hours ago
    // arni
    .card
      img.card-img-top(src='https://static.politico.com/dims4/default/d3c28d6/2147483647/resize/1160x/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2F43%2F93%2F72ae7b2347978461d93f010fd090%2F210331-schwarzeneggerap-773.jpg' alt='Card image cap')
      .card-body.less1000
        h5.card-title.font-family Schwarzenegger&grave;s warning 
        p.card-text
          | Arnold Schwarzenegger has a warning for Gavin Newsom
          | The only California governor to ever win a recall election sees the same atmosphere today that existed in 2003.
        p.card-text
          small.text-muted Last updated 15 mins ago
    

    
  .jumbotron.jumbotron-fluid.bg-success.mb-0
    .container
      h1.display-4.lead.text-white.less1000.font-family2 World&grave;s greatest news!
      p.lead.text-white.blockquote-footer
        | “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”.
              

  script.
        document.querySelector("#myFileInput").addEventListener("change", function () {
        const reader = new FileReader();
        
        reader.addEventListener("load", () => {
        localStorage.setItem("recent-image", reader.result);
        })
        
        reader.readAsDataURL(this.files[0]);
        })






// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
