extends layout.pug 

block news 
  div.container 
    h1.font All added news 

    if deleted 
      p.success Deleted!

    
    each newz in news
      div.news-wrapper 
        a.newz(href=`/news/${ newz.id }`) #{ newz.title }
        a.delete(href=`/news/${ newz.id }/delete`) delete